<h2>{{ i18n 'disraptor.title' }}</h2>

{{#if disallow}}

  <p>{{ i18n 'disraptor.disallowed_message' }}</p>

{{else}}

  <h3>{{ i18n 'disraptor.create_route.title' }}</h3>

  <form {{ action 'createRoute' on='submit' }} class="dr-new-route">
    <div class="dr-new-route__inputs">
      <label class="dr-text-field">
        <span class="dr-text-field__label">{{ i18n 'disraptor.routes.source_path' }}:</span>
        {{ input value=routeSourcePath placeholder=(i18n 'disraptor.routes.source_path_placeholder') class="dr-text-field__control" type="text" pattern="^/.*" required=true }}
      </label>

      <span>→</span>

      <label class="dr-text-field">
        <span class="dr-text-field__label">{{ i18n 'disraptor.routes.target_url' }}:</span>
        {{ input value=routeTargetURL placeholder=(i18n 'disraptor.routes.target_url_placeholder') class="dr-text-field__control" type="url" required=true }}
      </label>
    </div>

    <button type="submit" class="btn btn-primary">
      {{ d-icon 'plus'}}
      {{ i18n 'disraptor.create_route.button_label' }}
    </button>
  </form>

  <h3>{{ i18n 'disraptor.route_list.title' }}</h3>

  {{#if routes}}
    <ul class="route-list">
      {{#each routes as |route|}}
        <li class="route">
          <div class="route__display">
            {{#if route.isBeingEdited}}
              {{ input value=route.record.sourcePath placeholder=(i18n 'disraptor.routes.source_path_placeholder') type="text" pattern="^/.*" required=true }}
            {{else}}
              {{ route.record.sourcePath }}
            {{/if}}

            <span>→</span>

            {{#if route.isBeingEdited}}
              {{ input value=route.record.targetURL placeholder=(i18n 'disraptor.routes.target_url_placeholder') type="url" required=true }}
            {{else}}
              {{ route.record.targetURL }}
            {{/if}}
          </div>

          <div class="route__controls">
            {{#if route.isBeingEdited}}
              <button type="button" {{ action 'saveRoute' route }} class="btn btn-primary">
                {{ i18n 'disraptor.edit_route.save' }}
              </button>
            {{/if}}

            <button type="button" {{ action 'toggleEditingRoute' route }} class="btn">
              {{#if route.isBeingEdited}}
                {{ i18n 'disraptor.edit_route.stop' }}
              {{else}}
                {{ i18n 'disraptor.edit_route.start' }}
              {{/if}}
            </button>

            <button type="button" {{ action 'deleteRoute' route }} class="btn btn-danger">
              {{ i18n 'disraptor.routes.delete_label' }}
            </button>
          </div>
        </li>
      {{/each}}
    </ul>
  {{else if routesLoading}}
    <p>{{ i18n 'disraptor.route_list.loading' }}</p>
  {{else}}
    <p>{{ i18n 'disraptor.route_list.no_routes' }}</p>
  {{/if}}

{{/if}}
