<h2>{{ i18n "disraptor.title" }}</h2>

<h3>{{ i18n "disraptor.new_route.title" }}</h3>

<form {{ action "createRoute" on="submit" }}>

  {{#d-section class="form-horizontal settings"}}
    <div class="row setting">
      <div class="setting-label">
        <label for="route-request-method">
          {{ i18n "disraptor.new_route.request_method.label" }}
        </label>
      </div>

      <div class="setting-value">
        {{ combo-box id="route-request-method" value=routeRequestMethod valueAttribute="value" content=requestMethods class="select-kit" }}
        <div class="desc">
          {{ i18n "disraptor.new_route.request_method.description" }}
        </div>
      </div>
    </div>
  {{/d-section}}

  {{#d-section class="form-horizontal settings"}}
    <div class="row setting">
      <div class="setting-label">
        <label for="route-source-path">
          {{ i18n "disraptor.new_route.source_path.label" }}
        </label>
      </div>

      <div class="setting-value">
        {{ input id="route-source-path" value=routeSourcePath placeholder=(i18n "disraptor.new_route.source_path.placeholder") pattern="^\/(?!(admin|latest|new|unread|top|categories)).*" type="text" class="input-setting-string" }}

        <div>
          {{ i18n "disraptor.new_route.source_path.normalized" }}

          {{#if normalizedSourcePath}}
            {{ normalizedSourcePath }}
          {{else}}
            —
          {{/if}}
        </div>

        {{#if sourcePathIsInvalid}}
          {{setting-validation-message message=sourcePathInvalidMessage}}
        {{/if}}

        <div class="desc">
          {{ i18n "disraptor.new_route.source_path.description" }}
        </div>
      </div>
    </div>
  {{/d-section}}

  {{#d-section class="form-horizontal settings"}}
    <div class="row setting">
      <div class="setting-label">
        <label for="route-target-url">
          {{ i18n "disraptor.new_route.target_url.label" }}
        </label>
      </div>

      <div class="setting-value">
        {{ input id="route-target-url" value=routeTargetUrl placeholder=(i18n "disraptor.new_route.target_url.placeholder") type="url" class="input-setting-string" }}

        <div>
          {{ i18n "disraptor.new_route.target_url.normalized" }}

          {{#if normalizedTargetUrl}}
            {{ normalizedTargetUrl }}
          {{else}}
            —
          {{/if}}
        </div>

        <div class="desc">
          {{ i18n "disraptor.new_route.target_url.description" }}
        </div>
      </div>
    </div>
  {{/d-section}}

  <button type="submit" id="submit-route" class="btn btn-primary">
    {{ d-icon "plus"}}
    {{ i18n "disraptor.new_route.submit_button.label" }}
  </button>

  {{#if routeCreatedMessage}}
    <p>{{ routeCreatedMessage }}</p>
  {{/if}}
</form>



<h3>{{ i18n "disraptor.route_list.title" }}</h3>

{{#if routes}}
  <table style="table-layout: fixed;">
    <thead>
      <tr>
        <th>{{ i18n "disraptor.route_list.table.route" }}</th>
        <th width="10%">{{ i18n "disraptor.route_list.table.request_method" }}</th>
        <th width="25%">{{ i18n "disraptor.route_list.table.manage" }}</th>
      </tr>
    </thead>
    <tbody>
      {{#each routes as |route|}}
        <tr data-route-id="{{ route.record.id }}">
          <td>
            {{ i18n "disraptor.route_list.table.from" }}
            {{ route.record.sourcePath }}

            <br>

            {{ i18n "disraptor.route_list.table.to" }}

            {{#if route.isBeingEdited}}
              {{ input value=route.record.targetUrl placeholder=(i18n "disraptor.new_route.target_url.placeholder") type="url" required=true }}
            {{else}}
              {{ route.record.targetUrl }}
            {{/if}}
          </td>

          <td>
            {{ route.record.requestMethod }}
          </td>

          <td style="text-align: right;">
            {{#if route.isBeingEdited}}
              <button type="button" class="btn btn-primary" {{ action "updateRouteRecord" route.record }}>
                {{ i18n "disraptor.manage_routes.save" }}
              </button>
            {{/if}}

            <button type="button" class="btn" {{ action "toggleEditingRoute" route }}>
              {{#if route.isBeingEdited}}
                {{ i18n "disraptor.manage_routes.cancel" }}
              {{else}}
                {{ i18n "disraptor.manage_routes.edit" }}
              {{/if}}
            </button>

            <button type="button" class="btn btn-danger" {{ action "deleteRoute" route }}>
              {{ i18n "disraptor.manage_routes.delete" }}
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else if routesLoading}}
  <p>{{ i18n "disraptor.route_list.loading" }}</p>
{{else}}
  <p>{{ i18n "disraptor.route_list.no_routes" }}</p>
{{/if}}
