<h2>{{ i18n "disraptor.title" }}</h2>

<h3>{{ i18n "disraptor.create_route.title" }}</h3>

<form {{ action "createRoute" routeSourcePath routeTargetURL routeRequestMethod on="submit" }}>

  {{#d-section class="form-horizontal settings"}}
    <div class="row setting">
      <div class="setting-label">
        <label for="route-request-method">
          {{ i18n "disraptor.routes.request_method_label" }}
        </label>
      </div>

      <div class="setting-value">
        {{ combo-box id="route-request-method" value=routeRequestMethod valueAttribute="value" content=requestMethods class="select-kit" }}
        <div class="desc">
          {{ i18n "disraptor.routes.request_method_description" }}
        </div>
      </div>
    </div>
  {{/d-section}}

  {{#d-section class="form-horizontal settings"}}
    <div class="row setting">
      <div class="setting-label">
        <label for="route-source-path">
          {{ i18n "disraptor.routes.source_path_label" }}
        </label>
      </div>

      <div class="setting-value">
        {{ input id="route-source-path" value=routeSourcePath placeholder=(i18n "disraptor.routes.source_path_placeholder") pattern="^\/(?!(admin|latest)).*" type="text" class="input-setting-string" }}

        <div>
          Normalized path:
          {{#if normalizedSourcePath}}
            {{ normalizedSourcePath }}
          {{else}}
            —
          {{/if}}
        </div>

        {{#if sourcePathIsInvalid}}
          {{setting-validation-message message=(i18n "disraptor.routes.source_path_invalid")}}
        {{/if}}

        <div class="desc">
          {{ i18n "disraptor.routes.source_path_description" }}
        </div>
      </div>
    </div>
  {{/d-section}}

  {{#d-section class="form-horizontal settings"}}
    <div class="row setting">
      <div class="setting-label">
        <label for="route-target-url">
          {{ i18n "disraptor.routes.target_url_label" }}
        </label>
      </div>

      <div class="setting-value">
        {{ input id="route-target-url" value=routeTargetURL placeholder=(i18n "disraptor.routes.target_url_placeholder") type="url" class="input-setting-string" }}
        <div class="desc">
          {{ i18n "disraptor.routes.target_url_description" }}
        </div>
      </div>
    </div>
  {{/d-section}}

  <button type="submit" id="submit-route" class="btn btn-primary">
    {{ d-icon "plus"}}
    {{ i18n "disraptor.create_route.button_label" }}
  </button>

  {{#if routeCreatedMessage}}
    <p>{{ routeCreatedMessage }}</p>
  {{/if}}
</form>



<h3>{{ i18n "disraptor.route_list.title" }}</h3>

{{#if routes}}
  <table style="table-layout: fixed;">
    <thead>
      <tr>
        <th>{{ i18n "disraptor.route_list.table.route" }}</th>
        <th width="10%">{{ i18n "disraptor.route_list.table.request_method" }}</th>
        <th width="25%">{{ i18n "disraptor.route_list.table.manage" }}</th>
      </tr>
    </thead>
    <tbody>
      {{#each routes as |route|}}
        <tr data-route-id="{{ route.record.id }}">
          <td>
            From:
            {{ route.record.sourcePath }}

            <br>

            To:

            {{#if route.isBeingEdited}}
              {{ input value=route.record.targetURL placeholder=(i18n "disraptor.routes.target_url_placeholder") type="url" required=true }}
            {{else}}
              {{ route.record.targetURL }}
            {{/if}}
          </td>

          <td>
            {{#if route.isBeingEdited}}
              {{ combo-box value=route.record.requestMethod valueAttribute="value" content=requestMethods }}
            {{else}}
              {{ route.record.requestMethod }}
            {{/if}}
          </td>

          <td style="text-align: right;">
            {{#if route.isBeingEdited}}
              <button type="button" class="btn btn-primary" {{ action "updateRouteRecord" route.record }}>
                {{ i18n "disraptor.edit_route.save" }}
              </button>
            {{/if}}

            <button type="button" class="btn" {{ action "toggleEditingRoute" route }}>
              {{#if route.isBeingEdited}}
                {{ i18n "disraptor.edit_route.stop" }}
              {{else}}
                {{ i18n "disraptor.edit_route.start" }}
              {{/if}}
            </button>

            <button type="button" class="btn btn-danger" {{ action "deleteRoute" route }}>
              {{ i18n "disraptor.routes.delete_label" }}
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else if routesLoading}}
  <p>{{ i18n "disraptor.route_list.loading" }}</p>
{{else}}
  <p>{{ i18n "disraptor.route_list.no_routes" }}</p>
{{/if}}
